.App {
  text-align: center;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.animate-gradient:hover {
  background-size: 300% 300%;
  background-image: linear-gradient(60deg, #d09279, #d09279,#99a18a,#99a18a);
  animation: animatedgradient 3s ease alternate infinite;
}